<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration     
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	<typeAliases>
		<typeAlias alias="mov" type="com.it.model.MovieVO"/>
		<typeAlias alias="rv" type="com.it.model.ReservationVO"/>
		<typeAlias alias="tv" type="com.it.model.TheaterVO"/>
		<typeAlias alias="mcJoin" type="com.it.model.MCJoinVO"/>
		<typeAlias alias="cin" type="com.it.model.CinemaVO"/>
		<typeAlias alias="join" type="com.it.model.AllJoinVO"/>

		<typeAlias alias="rvo" type="com.it.model.ReplyVO"/>

		<typeAlias alias="sc" type="com.it.model.SeatCheck"/>
	</typeAliases>
</configuration>